// -*- go -*-
{{ define "transaction" }}
	// BeginTransaction starts a new transaction. If one has already been started, this function
	// returns an error. All subsequent database calls will take place within this transaction,
	// so this is NOT thread-safe.
	func BeginTransaction() error {
		if oldConnection == nil {
			oldConnection = connection
			var err error
			connection, err = connection.(*sql.DB).Begin()
			if err != nil {
				return err
			}
		}
		return errors.New("transaction already started")
	}

	// CommitTransaction commits the current transaction, if any.
	func CommitTransaction() error {
		if oldConnection == nil {
			return errors.New("no transaction")
		}
		err := connection.(*sql.Tx).Commit()
		connection = oldConnection
		oldConnection = nil
		if err != nil {
			return err
		}
		return nil
	}

	// RollbackTransaction rolls back the current transaction, if any.
	func RollbackTransaction() error {
		if oldConnection == nil {
			return errors.New("no transaction")
		}
		err := connection.(*sql.Tx).Rollback()
		connection = oldConnection
		oldConnection = nil
		return err
	}
{{ end }}
